$hover-color: #eee;

.admin-progress-table {
    overflow: hidden;
    tr:hover {
        background-color: $hover-color;
    }
    td {
        padding: 0;
        position: relative;
        vertical-align: middle;
        > a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 0.25rem;
        }
    }
    // Hover styling for the column with pseudo-element hackery.
    td:nth-child(n+2) {
        :hover {
            background-color: darken($hover-color, 5%);
        }
        :hover::after {
            content: "";
            position: absolute;
            background-color: $hover-color;
            left: 0;
            top: -10000px;
            height: 20000px;
            width: 100%;
            z-index: -1;
        }
    }
}

#admin-progress-filters-container {
    .el-slider__runway {
        margin-top: 0;
    }
    .episode-label {
        margin-right: 0.75rem;
    }
    label.no-margin {
        margin: 0;
    }
}

#admin-progress-filters-header {
    .filters-expanded {
        float: left;
        font-weight: bold;
        font-size: 200%;
        line-height: 75%;
        vertical-align: top;
    }

    > button {
        &.collapsed::before {
            @extend .filters-expanded;
            content: "+";
        }
        &:not(.collapsed)::before {
            @extend .filters-expanded;
            content: "\2212"; /* Minus Sign */
        }
    }
}

#admin-progress-filters-key {
    width: 100%;
    > .card-header, .card-body {
        width: 100%;
    }
}
